/* Styles for signature functionality */

/* Signature pad container */
.signature-pad-container {
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
}

/* Signature canvas */
#signature-pad,
#salary-signature-pad {
  width: 100%;
  height: 150px;
  background-color: #fff;
}

/* Signature buttons */
.signature-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

/* Signature in salary slip */
.signature-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
}

.signature-image {
  margin-bottom: 5px;
}

.signature-name {
  font-weight: bold;
}

/* Signature preview in employee form */
.signature-preview {
  max-height: 60px;
  margin-top: 10px;
  display: none;
}

.signature-preview.has-signature {
  display: block !important;
}